body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
}

header {
  padding: 15px 30px 18px 30px;
  background-color: darkslategray;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2.2em;
}

.navigation {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.nav-link {
  margin: 15px;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 1.5em;
  color: #fff;
  font-size: 2em;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  box-shadow: 5px 6px rgb(32, 54, 54);
}

.nav-link:hover {
  background-color: #fff;;
  border: 2px solid #fff;
  border-radius: 1.5em;
  color: darkslategray;
  cursor: pointer;
  box-shadow: 5px 8px rgb(32, 54, 54);
}

.phase-current {
  display: flex;
  justify-content: center;
  margin-left: 25px;
}

.phase-current h3 {
  color: darkslategray;
  font-size: 1.3em;
  cursor: pointer;
  border: 2px solid darkslategray;
  border-radius: .2em;
  padding: 15px;
  margin: 40px 15px;
  box-shadow: 4px 4px rgb(65, 104, 104);
}

.phase-current h3:hover {
  background-color: darkslategray;
  color: #fff;
  cursor: pointer;
  border: 2px solid darkslategray;
  border-radius: .2em;
}

.phase-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.stack {
  text-align: center;
  border: 2px solid darkslategray;
  border-radius: .2em;
  width: 150px;
  margin: 25px 15px;
}

.stack h4 {
  border-bottom: 1px solid darkslategray;
  padding: 10px;
  margin: 0;
  font-size: 1.2em;
  color: #fff;
  background-color: darkslategray;
}

#phases h3 {
  margin: 15px 25px;
  padding: 10px 20px;
  font-size: 2.5em;
  color: darkslategray;
}

.phase-layout p {
  margin: 15px;
  padding: 10px 20px;
  font-size: 1em;
  color: darkslategray;
}

@media only screen and (max-width: 809px) {
  header {
    justify-content: center;
  }

  header h1 {
    text-align: center;
  }
} 
